[submodule "Truck-Factor"]
	path = Truck-Factor
	url = git@github.com:vharatian/Truck-Factor.git
[submodule "risky-patterns-idea"]
	path = risky-patterns-idea
	url = ssh://git@git.jetbrains.team/pan/risky-patterns-idea.git
